  <ActionBar class="action-bar">
    <Label class="action-bar-title" text="bit-by-bit"></Label>
  </ActionBar>

<DockLayout class="content-wrapper" stretchLastChild="true">
    <StackLayout dock="bottom">
      <Button text="back" [nsRouterLink]="['/heroes']" class="back-button"></Button>
    </StackLayout>
    <ScrollView orientation="vertical">
      <StackLayout xclass="layoutBackgroundImageFromFolder">
        <Button class="hero-tab" text="{{ hero.name }}" [nsRouterLink]="['/dashboard']"></Button> -->
        <Button class="hero-tab" text="no. {{ hero.id }}" [nsRouterLink]="['/dashboard']"></Button>
        <Button class="hero-tab" text="logo: {{ hero.logo }}" [nsRouterLink]="['/dashboard']"></Button>
        <Button class="hero-tab" text="play sample" (tap)="playSong()"></Button>
        <Button class="hero-tab" text="stop sample" (tap)="pauseSong()"></Button>
      </StackLayout>
  </ScrollView>
</DockLayout>
