$c-black: #000;
$c-tundra: #444;
$c-gray: #888;
$c-silver: #ccc;
$c-gallery: #eee;
$c-white: #fff;
$c-almost-white: #FFFFF5;
$c-almost-peach:#FFF1E1;
$c-dodger-blue: #2e7df6;
$c-moon-blue: #46A5FF;
$c-red: red;
$c-fuchsia: #f0f;
$c-chalk: #f7cffc;
$c-pink: #FFEBDB;
$c-darker-pink: #DDD2DD;
$c-silver: #C0C0C0;
$c-teal: #008080;
$c-darker-teal: #007E82;