<ActionBar class="action-bar">
  <Label class="action-bar-title" text="bit-by-bit"></Label>
  <SearchBar hint="Search for a villain" [text]="searchPhrase" (textChange)="onTextChanged($event)" (submit)="onSubmit($event)" color="white" textFieldBackgroundColor="peachpuff" textFieldHintColor="white"></SearchBar>
</ActionBar>

<DockLayout class="content-wrapper" stretchLastChild="true">
  <StackLayout dock="bottom">
    <bottom-navigation></bottom-navigation>
  </StackLayout>
  <ScrollView orientation="vertical">
    <StackLayout>
      <ns-button-group></ns-button-group>
      <Button text="back" *ngIf="isAndroid" [nsRouterLink]="['/dashboard']" class="back-button"></Button>
      <Label class="heading">
        <FormattedString>
          <Span text="Feel " color="#8B668B"></Span>
          <Span text="free " color="#8B7B8B" fontAttributes="Bold"></Span>
          <Span text="to " color="#9F5F9F"></Span>
          <Span text="tap " color="#D8BFD8"></Span>
          <Span text="a " color="#D3BECF"></Span>
          <Span text="card" color="#EEE0E5"></Span>
          <Span text="!" color="#8B4789"></Span>
        </FormattedString>
      </Label>
      <FlexboxLayout flexWrap="wrap" class="dashboard">
          <Button
            *ngFor="let antihero of antiheroes"
            text="{{ antihero.name }}"
            [nsRouterLink]="['/antidetails/', antihero.id]"
            class="dashboard__item"
          ></Button>
      </FlexboxLayout>
    </StackLayout>
  </ScrollView>
</DockLayout>
